HELP.md
pom.xml.bak
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.attach_pid*
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### SDK Man ###
.sdkmanrc

### CSS ###
_site/
*.css
!petclinic.css
# Ignore Terraform stuff only in infra/
infra/environments/dev/.terraform/*
infra/envinronments/dev/*.tfstate
infra/envinronments/dev/*.tfstate.*
infra/envinronments/dev/crash.log
infra/envinronments/dev/terraform.tfstate.backup
infra/envinronments/dev/.terraform.lock.hcl
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/crash.log
infra/terraform.tfstate.backup
infra/.terraform.lock.hcl

